body{
    background-color: black;
}
img{
position: relative;
left: 140px;
}
#bumbo{
    position:absolute;
    background-color: red;
    bottom: 70px;
    left: 700px;
    color: white;
}
#caixa{
    position:absolute;
    background-color: red;
    color: white;
    bottom: 390px;
    left: 400px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;

}
#prato{
    position:absolute;
    background-color: red;
    color: white;
    bottom: 500px;
    left: 240px;
}
#tom1{
    position:absolute;
    background-color: red;
    color: white;
    bottom: 450px;
    left: 610px;
}
#tom2{
    position:absolute;
    background-color: red;
    color: white;
    bottom: 450px;
    left: 830px;
}
#surdo{
    position:absolute;
    background-color: red;
    color: white;
    bottom: 300px;
    left: 1079px;
}
